<ion-header class="ion-no-border">

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/' text='Regresar' color="primary" mode='ios'></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Search</ion-title>
    </ion-toolbar>

    <ion-searchbar placeholder="Buscar album" animated inputmode="text" (ionChange)="onSearchChange( $event )" [debounce]="250">

    </ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let albun of albunes | filtro:textoBuscar:'title'">
            <ion-label>{{albun.title}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>