<ion-header [translucent]="true"
            no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
             color="dark">

  <ion-slides mode="ios"
              pager="ios"
              scrollbar="ios"
              *ngIf="dataLocaService.noticias.length === 0"
              [options]="sliderOpts">
    <ion-slide>
      <ion-label> No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="dataLocaService.noticias.length > 0"
                [enFavoritos]="true"
                [noticias]="dataLocaService.noticias"></app-noticias>
</ion-content>